
.header{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-title-logo{
        width: 35%;
        height: 78px;
        padding: 7px;
        border: 3px solid #000;
        border-radius: 50%;

        mat-icon{
            font-size: 60px !important;
        }


    }

    .header-title{
        margin: 0px;

    }

    .header-subtitle{
        color: inherit;
       
    }
}